<div class="header">
  <div class="m1200">
    <div class="logo fl">
      <a href="index.html?ref=navlogo">&nbsp;</a>
    </div>
    <div class="nav fl">
      <ul class="links">
        <li class="menu">
          <a href="index.html" title="首页">首页</a>
        </li>
        <li class="menu">
          <a href="product.html" title="广告类型">广告类型</a>
        </li>
        <li class="menu">
          <a href="news.html" title="新闻资讯">新闻资讯</a>
        </li>
        <li class="menu">
          <a href="feedback.html" title="建议投诉">建议投诉</a>
        </li>
      </ul>
    </div>
  </div>
</div>